{% extends 'base.html.twig' %}

{% block title %}Artikel anlegen!{% endblock %}

{% block content %}
<section class="section-space-bottom mt-5">
    {{ include('artikel/admin/_form.html.twig', {
        button: 'speichern',
        ueberschrift: 'Artikel anlegen',
    }) }}
</section>
{% endblock %}
