{% extends 'base.html.twig' %}

{% block title %}Edit Tankstellen{% endblock %}

{% block body %}
    <h1>Edit Tankstellen</h1>

    {{ include('admin_tankstellen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_tankstellen_index') }}">back to list</a>

    {{ include('admin_tankstellen/_delete_form.html.twig') }}
{% endblock %}
