{% extends 'base.html.twig' %}

{% block title %}New Tankstellen{% endblock %}

{% block body %}
    <h1>Create new Tankstellen</h1>

    {{ include('admin_tankstellen/_form.html.twig') }}

    <a href="{{ path('app_admin_tankstellen_index') }}">back to list</a>
{% endblock %}
