{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="d-flex justify-end">
    <button class="btn btn-outline-success">{{ button_label|default('Speichern') }}</button>
</div>

{{ form_end(form) }}
