<table class="table">
    <thead>
    <tr>
        <th>Titel</th>
        <th>Berichte</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for theman in themens %}
        <tr>
            <td>{{ theman.titel }}</td>
            <td>{{ theman.artikelanzahl }}</td>
            <td>
                <a href="{{ path('admin_themen:show', {'id': theman.id}) }}">show</a>
                <a href="{{ path('admin_themen:edit', {'id': theman.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>