{% extends 'admin_base.html.twig' %}

{% block title %}New Themen{% endblock %}

{% block content %}
    <h1>Create new Themen</h1>

    {{ include('themen/admin/_form.html.twig') }}

    <a href="{{ path('admin_themen:index') }}">back to list</a>
{% endblock %}
