{% extends 'base.html.twig' %}

{% block title %}Artikel anlegen!{% endblock %}

{% block content %}
    <section class="section-space-bottom mt-5">
        {{ include('themen/admin/_form.html.twig', {
            button: 'speichern',
            ueberschrift: 'Thema anlegen',
        }) }}
    </section>
{% endblock %}